.card {
  height: 105px;
  border: 1px solid #F1F4F6;
  border-shadow: 0 1px 3px lightgrey;
  background-color: white;
  color: grey;
  text-align: left;
  padding: 20px;
  margin: 5px;
  position: relative;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
