.centered {
    margin: 0 auto;
    text-align: center;
}
div#content {
    height: 900px;
    width: 90%;
    background-color: lightgrey;
/*    border: none;*/
}
div#header {
    height: 30%;
    width: 70%;
}
div#searchBox {
    height: 40px;
    width: 400px;   
}
input[type=text] {
    height: 100%;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    
}